@page "/report"
@inject MarkdownService Markdown

<h3>Relatório</h3>

<FluentGridItem xs="12" md="8" lg="9">
    @if (DetailReport == string.Empty)
    {
        <FluentCard>
            <h3>
                <FluentSkeleton Shape="SkeletonShape.Rect"
                Width="150px"
                Height="20px" />
            </h3>
            <FluentSkeleton Shape="SkeletonShape.Rect"
            Width="100%"
            Height="600px" />
        </FluentCard>
    }else
    {
        <FluentCard Height="auto">
               @((MarkupString)DetailReport)
        </FluentCard>
    }
</FluentGridItem>

@code {

    public static string DetailReport = string.Empty;

}