@page "/report"

<h3>Relatório</h3>

<FluentGridItem xs="12" md="8" lg="9">
    <FluentCard>
        <h3>
            <FluentSkeleton Shape="SkeletonShape.Rect"
                            Width="150px"
                            Height="20px" />
        </h3>
        <FluentSkeleton Shape="SkeletonShape.Rect"
                        Width="100%"
                        Height="600px" />
    </FluentCard>
</FluentGridItem>

@code {

}