@page "/info"

<FluentCard Height="200" Style="padding: 1rem; margin: 1rem;">

    <FluentLabel Typo="Typography.Header">Sobre</FluentLabel>
    <FluentLabel Typo="Typography.Header" Style="margin:1rem;">
        <p>
            O <strong>InovaROI</strong> é uma ferramenta inovadora desenvolvida para ajudar líderes empresariais a tomarem decisões mais inteligentes em projetos de transformação. Com 70% dos projetos de mudança falhando devido a riscos substanciais, nossa solução utiliza Inteligência Artificial e Machine Learning para oferecer insights preditivos, recomendações acionáveis e visualizações detalhadas.
        </p>
        <p>
            A calculadora considera variáveis como orçamento do projeto, número de funcionários impactados, duração da iniciativa, riscos financeiros de falha e desengajamento da equipe, além de ganhos potenciais como aumento de produtividade e entregas bem-sucedidas. O objetivo é fornecer uma análise quantitativa que permita avaliar a viabilidade, reduzir desperdícios e maximizar o retorno sobre o investimento.
        </p>
        <p>
            Desenvolvida por uma equipe dedicada para competir no <strong>Microsoft Innovation Challenge Hackathon March 2025</strong>, esta aplicação visa transformar a estatística de fracasso em sucesso, capacitando empresas a se adaptarem com confiança e eficiência.
        </p>
    </FluentLabel>
</FluentCard>

<FluentCard Height="200px" Style="padding: 1rem; margin: 1rem;">

    <FluentLabel Typo="Typography.Header">Equipe de Desenvolvimento:</FluentLabel>
    <br />
    <FluentStack Orientation="Microsoft.FluentUI.AspNetCore.Components.Orientation.Vertical">
        <FluentPersona Name="Adriano Godoy"
                       ImageSize="50px"
                       Initials="AG">
            <FluentAnchor Href="https://github.com/led-21" Target="_blank">Adriano Godoy</FluentAnchor>
        </FluentPersona>

        <FluentPersona Name="Danillo Silva"
                       ImageSize="50px"
                       Initials="DS">
            <FluentAnchor Href="https://github.com/DanilloAraujo" Target="_blank">Danillo Silva</FluentAnchor>
        </FluentPersona>
    </FluentStack>
</FluentCard>